<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Meditation: A journey inwards</title>
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<link href="css/grid.css" rel="stylesheet">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimizer" content="240">
<meta name="viewport" content="width=device-width;initial-scale=1">
</head>

<body>

    <header>
        <nav>
        <a href="about.html">lidfjljd</a>
        
        </nav>
        
        <div id="icons_box">
           		
                <div class="icon_container">
                    
                    
                    <a href="http://www.facebook.com"><img src="../img/facebook.png"  alt="facebook"></a>
                    
                    
                    
                    <a href="http://www.twitter.com"><img src="../img/twitter.png"  alt="twitter"></a>
                    
                    
            	</div><!--closing icons box-->
            
         </div><!--icon_container-->
    
     </div><!--closing stripe-->
    </header>
    {{content}} <!--jeckyll takes this--> 
    
    <footer>
    jhfgjhg
    </footer>

</body>

</html>