<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Meditation: A journey inwards. Enjoy an indestructible sense of well-being engaging in any life activity. Ottawa, Canada</title>
<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<script src="js/modernizr.js"></script>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimizer" content="240">
<meta name="viewport" content="width=device-width;initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css'>
<!--Facebook Open Graph Protocol meta tags-->
		<meta property="og:type" content="article">
		<meta property="og:title" content="Introduction">
        <meta property="og:url" content="https://github.com/malejandroa/large-data-website/blob/gh-pages/index.html">
        <meta property="og:image" content="http://malejandroa.github.io/large-data-website/img/santi__meditation.gif">
        <meta property="og:site_name" content="Meditation: A journey inwards">
        <meta property="og:description" content="With the practice of meditation you become capable of enabling yourself to enjoy an indestructible sense of well-being while engaging in any life activity. This discipline refers to a broad variety of mindful practices, which the individual uses to train the mind or induce alter state of consciousness. It has been scientifically proven that the regular practice of meditation can deliver you boundless benefits in every field of your life.">
<!--Twitter Card meta tags-->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Meditation: A journey inwards">
        <meta name="twitter:url" content="https://github.com/malejandroa/large-data-website/blob/gh-pages/index.html">
        <meta name="twitter:description" content="With the practice of meditation you become capable of enabling yourself to enjoy an indestructible sense of well-being while engaging in any life activity. This discipline refers to a broad variety of mindful practices, which the individual uses to train the mind or induce alter state of consciousness. It has been scientifically proven that the regular practice of meditation can deliver you boundless benefits in every field of your life.">
        <meta name="twitter:image" content="http://malejandroa.github.io/large-data-website/img/santi__meditation.gif">
</head>
<!-------------------------------------------------------------------------------------------------------------------------------------------->


<!--default.html has the info that is the same on every page-->

<body>
<ul class="skiplinks">
        <li><a href="#main">Skip to main content</a></li>
        <li><a href="#primenav">Skip to primary navigation</a></li>
        
</ul>



    <header role="banner" id="top">
   
     
        
        		<div id="icons_box">
           		
                	<div class="icon_container">
                    
                    
                    <a href="http://www.facebook.com"><img src="img/facebook.png"></a>
                    
                    
                    
                    <a href="http://www.twitter.com"><img src="img/twitter.png"></a>
                    
                    
       
         			</div><!--icon_container-->
     
     			</div><!--closing icons_box-->
                
               <a href="index.html" class="logo" rel="home" >
                	
                </a><!--closing logo--> 
            	
               
       				<nav role="navigation" id="primenav">
               			<ul>
                			<li><a href="index.html" rel="home">Home</a></li>
                        	<li><a href="about.html" rel="complementary">About</a></li>
                   			<li><a href="paths.html">Paths</a></li>
                            <li><a href="further_studies.html">Further Studies</a></li>
                            
                       	</ul>
       				</nav>
     			
              <!----<a href="about.html">lidfjljd</a>--> 
               
    </header>
    
    <div class="content">
    <main role="main" id="main">
    {{content}} <!--jeckyll tkes everything from index and puts it here("put the content from index here")--> 
    </main>
    </div>
    <!--the combination of default.html and index.html are saved in a html doc in the _site folder under index)--> 
    
    
    <footer role="contentinfo" >
   	<p>Copyright © 2013 Alejandro Andrade, Brand Architect/Creative Director. All rights reserved. Ottawa, Canada</p>
 	<p><br /><br /> <a href="#top">Back to Top</a></p>
    </footer>

</body>

</html>